<section class="about" id="about" style="overflow: hidden;">
    <div class="max-width">
        <h1 class="subtitle fancy"><span>About me</span></h1>
        <div class="about-content">
            <div class="column left">
                <div class="img-wrapper">
                    <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Prescription02&hairColor=Black&facialHairType=BeardLight&facialHairColor=Black&clotheType=CollarSweater&clotheColor=Blue03&eyeType=Happy&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light'
                    alt="">
                </div>
            </div>
            <div class="column right">
                <div class="text">I'm Shrey and I'm a <span class="typing-2"></span></div>
                <p>Being a <b style="color:crimson">Computer Science graduate</b> I 
                    have been learning various subjects related to different area of computers and technology. Particularly, I am interested in web development. I want to learn about different fields of web development. 
                    I want to be a full stack web developer.</p>
                <a href="https://drive.google.com/file/d/1PMB9XZyHrEowUwheF_i-TE6Mz3olYjKa/view?usp=sharing">Download CV</a>
            </div>
        </div>
    </div>
</section>

