<Section fxLayout="column" fxlayoutalign="center center" class="outersection">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-sm="10">
    <h1 class="subtitle fancy"><span>Recent Projects</span></h1>
    <div class="project-tabs" fxlayout="column wrapper" fxlayoutalign="center left" fxFlex.gt-sm="10">
      <mat-tab-group mat-align-tabs="center" animationDuration="1500ms">
        <mat-tab label="ALL">
          <div cdkscrollable="" class="mat-tab-body-content ng-tns-c68-2 ng-trigger ng-trigger-translateTab" style="overflow: hidden;">
            <!--container-->
            <div class="content">
              <div class="cardbox" fxLayout="row wrapper" fxLayoutGap="16px grid">
                <div *ngFor="let project of projects">
                  <mat-card class="mat-elevation-z4">
                    <div class="card">
                      <img mat-card-image src={{project.imgURL}}>
                      <div class="info">
                        <button class="info-btn" (click)="openModalWithClass(template)">Learn more</button>
                      </div>
                    </div>
                  </mat-card>
                  <!--Modal template starts-->
                  <ng-template data-aos="fade-in" class="modal" #template>  
                    <div class="modal-header">  
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">                   
                        <span aria-hidden="true">×</span>  
                      </button>  
                    </div>
                    <div class="modal-body">  
                      <div  class="portfolio-details">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-8">
                              <h2 class="portfolio-title">{{project.Name}}</h2>
                              <div class="portfolio-details-slider swiper-container">
                                <div class="swiper-wrapper align-items-center">
                                  <div class="swiper-slide">
                                    <img src={{project.imgURL}} alt="">
                                  </div>
                                </div>
                                <div class="swiper-pagination"></div>
                              </div>
                            </div>
                            <div class="col-lg-4 portfolio-info">
                              <h3>Project information</h3>
                              <ul>
                                <li><strong>Category</strong>: {{project.Name}}</li>
                                <li><strong>Project date</strong>: Jul, 2020</li>
                                <li><strong>Project URL</strong>: <a href={{project.URL}}>View Demo</a></li>
                              </ul>
                              <p>
                               {{project.Description}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div><!-- End Portfolio Details -->
                    </div>       
                    <div class="modal-footer">    
                      <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>  
                    </div>  
                  </ng-template> 
                  <!--Modal template ends-->
                </div>
              </div>
            </div>
          </div>
         
        </mat-tab>
        <mat-tab label="PHP/JAVASCRIPT">
          <div cdkscrollable="" class="mat-tab-body-content ng-tns-c68-2 ng-trigger ng-trigger-translateTab" style="overflow: hidden;">
            <div data-aos="fade-in" class="content">
              <div fxLayout="row wrapper" fxLayoutGap="16px grid">
                <div *ngFor="let project of projects">
                  <div class="cardbox" *ngIf="project.Category==='PHP/JAVASCRIPT'">
                    <mat-card class="mat-elevation-z4">
                      <div class="card">
                        <img mat-card-image src={{project.imgURL}}>
                        <div class="info">
                          <button class="info-btn" (click)="openModalWithClass(template)">Learn more</button>
                        </div>
                      </div>
                    </mat-card>
                     <!--Modal template starts-->
                  <ng-template data-aos="fade-in" class="modal" #template>  
                    <div class="modal-header">  
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">                   
                        <span aria-hidden="true">×</span>  
                      </button>  
                    </div>
                    <div class="modal-body">  
                      <div  class="portfolio-details">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-8">
                              <h2 class="portfolio-title">{{project.Name}}</h2>
                              <div class="portfolio-details-slider swiper-container">
                                <div class="swiper-wrapper align-items-center">
                                  <div class="swiper-slide">
                                    <img src="assets/img/portfolio/project.png" alt="">
                                  </div>
                                </div>
                                <div class="swiper-pagination"></div>
                              </div>
                            </div>
                            <div class="col-lg-4 portfolio-info">
                              <h3>Project information</h3>
                              <ul>
                                <li><strong>Category</strong>: {{project.Name}}</li>
                                <li><strong>Project date</strong>: Jul, 2020</li>
                                <li><strong>Project URL</strong>: <a href={{project.URL}}>View demo</a></li>
                              </ul>
                              <p>
                               {{project.Description}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div><!-- End Portfolio Details -->
                    </div>       
                    <div class="modal-footer">    
                      <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>  
                    </div>  
                  </ng-template> 
                  <!--Modal template ends-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </mat-tab>
        <mat-tab label="ANGULAR/.NET/OTHERS">
          <div cdkscrollable="" class="mat-tab-body-content ng-tns-c68-2 ng-trigger ng-trigger-translateTab" style="overflow: hidden;">
            <div data-aos="fade-in" class="content">
              <div fxLayout="row wrapper" fxLayoutGap="16px grid">
                <div class="cardbox" *ngFor="let project of projects">
                  <div *ngIf="project.Category==='ANGULAR/.NET/OTHERS'">
                    <mat-card class="mat-elevation-z4">
                      <div class="card">
                        <img mat-card-image src={{project.imgURL}}>
                        <div class="info">
                          <button class="info-btn" (click)="openModalWithClass(template)">Learn more</button>
                        </div>
                      </div>
                    </mat-card>
                       <!--Modal template starts-->
                  <ng-template data-aos="fade-in" class="modal" #template>  
                    <div class="modal-header">  
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">                   
                        <span aria-hidden="true">×</span>  
                      </button>  
                    </div>
                    <div class="modal-body">  
                      <div  class="portfolio-details">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-8">
                              <h2 class="portfolio-title">{{project.Name}}</h2>
                              <div class="portfolio-details-slider swiper-container">
                                <div class="swiper-wrapper align-items-center">
                                  <div class="swiper-slide">
                                    <img src={{project.imgURL}} alt="">
                                  </div>
                                </div>
                                <div class="swiper-pagination"></div>
                              </div>
                            </div>
                            <div class="col-lg-4 portfolio-info">
                              <h3>Project information</h3>
                              <ul>
                                <li><strong>Category</strong>: {{project.Name}}</li>
                                <li><strong>Project date</strong>: Jul, 2020</li>
                                <li><strong>Project URL</strong>: <a href={{project.URL}}>View demo</a></li>
                              </ul>
                              <p>
                               {{project.Description}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div><!-- End Portfolio Details -->
                    </div>       
                    <div class="modal-footer">    
                      <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Close</button>  
                    </div>  
                  </ng-template> 
                  <!--Modal template ends-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</Section>