<div class="container">
    <div class="form-container" style="overflow: hidden">
      <div class="left-container">
         
        </div>
      <div class="right-container">
        <div class="right-inner-container">
          <form action="#">
              <h2 class="lg-view">Contact</h2>
              <form ngNoForm action="https://formspree.io/f/xyyljjdd" method="post" >
                <input type="email" name="_replyto" placeholder="Email" />
                <input type="text"  name="firstName" placeholder="First Name"  />
                <input type="text"  name="lastName" placeholder="Last Name"  />
                <textarea rows="4" name="message" placeholder="Message"></textarea>
                
                <button type="submit">Submit</button>
              </form>
          </form>
        </div>
      </div>
    </div>
  </div>
