<section fxlayoutalign="center center">
    <div fxlayoutalign="center center" class="container">
        <h1 class="subtitle fancy"><span>Accomplishments</span></h1>
        <div id="demo" class="carousel slide" data-ride="carousel">
           
            <carousel [isAnimated]="true" [pauseOnFocus]="true">
                <slide>
                    <div class="carousel-caption">
                        <p>Shrey is very much intrigued into learning new technologies and gives his maximum effort wherever required. He can get 
                            the work done and is always ready to help his peers 
                            while doing so. He is a great asset to have.</p> 
                            <img src="https://avatars.githubusercontent.com/u/49820685?v=4">
                        <div id="image-caption">
                            Soma Ghosh
                        </div>
                        <a href="https://soma-ghosh.github.io/">Visit this profile</a>
                    </div>
                </slide>
                <slide>
                    <div class="carousel-caption">
                        <p>Shrey is very much intrigued into learning new technologies and gives his maximum effort wherever required. He can get 
                            the work done and is always ready to help his peers 
                            while doing so. He is a great asset to have.</p> 
                            <img src="https://avatars.githubusercontent.com/u/49820685?v=4">
                        <div id="image-caption">
                            Soma Ghosh
                        </div>
                        <a href="https://soma-ghosh.github.io/">Visit this profile</a>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</section>
