<div data-aos="fade-left" fxlayoutalign="center center" class="container">
    <h1 class="subtitle fancy"><span>Accomplishments</span></h1>
    <div id="demo" class="carousel slide" data-ride="carousel">
       
        <carousel [isAnimated]="true" [pauseOnFocus]="true">
            <slide>
                <div class="carousel-caption">
                    <p>Person 1</p> <img src="https://i.imgur.com/lE89Aey.jpg">
                    <div id="image-caption">Nick Doe</div>
                </div>
            </slide>
            <slide>
                <div class="carousel-caption">
                    <p>Person 2</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                    <div id="image-caption">Cromption Greves</div>
                </div>
            </slide>
            <slide>
                <div class="carousel-caption">
                    <p>Person 3</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                    <div id="image-caption">Harry Mon</div>
                </div>
            </slide>
        </carousel>
    </div>
</div>