
.footer{
    overflow: hidden;
    min-height: fit-content;
    padding: 10px 10px 10px 10px;
    margin-bottom: 0%;
    background:black;
    color:white;
    margin-top:0;
    margin-right: 0;
    text-align:Center;
}

.social > a img {
    width: 32px;
    height: 32px;
}