.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 .example-spacer {
    flex: 1 1 auto;
  }
  .nav{
    background: linear-gradient(-1deg, #f1977c, #e678a2, #8dd2eb, #82ebd2);
    animation: grad 15s ease infinite;
  }
  @keyframes grad {
    0% {
        background-position: 0% 5%;
    }
    5% {
        background-position: 10% 5%;
    }
    10% {
        background-position: 0% 5%;
    }
}
  .navitems{
      margin-right: 50%;
  }
  .example-container{

    height : calc(100vh -65px);
    /* background: -webkit-linear-gradient(rgba(16, 13, 185, 0.7), rgba(255, 255, 255, 0.637)); */

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  mat-sidenav{
      margin: 16px;
      width: 200px;
      border-right: none;
      background : #0a336198;
      color : white;
      border-radius: 10px;
      padding : 16px;
      text-align: center;

  }
  #profile1{
    border-radius:50%;
  }
  #profile1:hover{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }
  .name
  {
  
    margin: 0;
    margin-top:8px;
    font-weight: normal;
    
  }
  .designation{
    margin-top: 2px;
    font-size: 0.9rem;
    color: lightgrey;
    border-bottom: 1px solid;
  }
  .home{
    margin-top: 2px;
  }

  mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255,255,255,0.5);
  }
  .about{
    z-index: -1;
  }

  
 
