.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 .example-spacer {
    flex: 1 1 auto;
  }
  .nav{
    background: rgba(16, 13, 185, 0.7);
  }
  .navitems{
      margin-right: 50%;
  }
  .example-container{

    height : calc(100vh -65px);
    background: -webkit-linear-gradient(rgba(16, 13, 185, 0.7), rgba(255, 255, 255, 0.637));
  }

  mat-sidenav{
      margin: 16px;
      width: 200px;
      border-right: none;
      background : #0a336198;
      color : white;
      border-radius: 10px;
      padding : 16px;
      text-align: center;

  }
  #profile1{
    border-radius:50%;
  }
  #profile1:hover{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }
  .name
  {
  
    margin: 0;
    margin-top:8px;
    font-weight: normal;
    
  }
  .designation{
    margin-top: 2px;
    font-size: 0.9rem;
    color: lightgrey;
    border-bottom: 1px solid;
  }
  .home{
    margin-top: 2px;
  }

  mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255,255,255,0.5);
  }
  .about{
    z-index: -1;
  }

  
 
